
.black{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}
header{
  position:sticky;
  top: 0px; /* Reste collé à 0 pixel du haut de l'écran */
  background-color: #fefefe; /* Ajoutez une couleur de fond pour qu'il soit lisible */
  z-index: 100%;    /* Assure que l'en-tête passe au-dessus des autres éléments */
  /* Autres styles (padding, hauteur, etc.) */
}
.black img{
  height: 25px; 
}
.story img  {
  background: linear-gradient(to top ,rgb(252, 161, 40),rgb(218, 51, 1)) ;
  height: 100px; 
  width: 100px;
  border-radius: 100%;
  border: 1.5px solid rgba(225, 204, 18, 0);
  padding: 3px;
  }
.story-container{
  background-color: rgb(226, 223, 223);
  gap:15px;
  padding:15px;
  width:57%; 
  display: flex;
  flex-direction: row;  
  margin-bottom: 30px;
}


.suggestions-list-container {
  /* Positionne le bloc en haut à droite par rapport à la fenêtre visible du navigateur */
  position: fixed;
  top: 70px; /* À 20 pixels du haut */
  right: 20px; /* À 20 pixels de la droite */
  width: 35%; /* Définissez une largeur pour le bloc */
  background-color: white; /* Ajoutez un fond si nécessaire */
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(58, 55, 55, 0.1); /* Ajoute une légère ombre */  
  
}

button{
  color: rgb(13, 152, 244);
  border: 0px solid ;
  margin-left: auto;
  
}
.follow-btn{
  display: flex;
  flex-direction: column;
}

.story .avatar img {
  height: 50px; 
  width: 50px;
}
.avatar{
  display: flex;
  gap: 10px;
  align-items: center;

}

.status{
  font-size: 0.9em;
}

.post{
  display: flex;
  align-items: center;
  background-color: rgb(251,251,251);
  padding: 10px;
  gap:10px;
}

.post_container{
   border: 1px solid black;
   width:58%;
   margin-bottom: 20px;
}


.lol{
  width: 100%;
  
}

.post img{
  background: linear-gradient(to top ,rgb(252, 161, 40),rgb(218, 51, 1)) ;
  height: 50px; 
  width: 50px;
  border-radius: 100%;
  border: 1.5px solid rgba(225, 204, 18, 0);
  padding: 3px;
 
}
.icon_container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
footer{
  padding: 10px;
  
}
.add_comment{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(237, 237, 237);

}
button{
  background-color: #fff;
}